In [1]:
import pandas as pd
from pandas.io.json import json_normalize
import ast
import json

In [2]:
df = pd.read_json('./data/wb_2016_winner_expenses_2.json')
df.drop(df.columns[0], axis=1)
#foo = json_normalize(df, 'Candidate')
df = df.T
df = df.iloc[1:]
df.head()

,Candidate,Constituency,Party,Sno,Total Expenses in election
1,{'url': 'http://myneta.info/westbengal2016/can...,KUMARGRAM (ST),AITC,1,"Rs 6,78,903 ~ 6 Lacs+"
10,{'url': 'http://myneta.info/westbengal2016/can...,BADURIA,INC,10,"Rs 14,44,391 ~ 14 Lacs+"
100,{'url': 'http://myneta.info/westbengal2016/can...,GAZOLE (SC),CPI(M),100,"Rs 7,98,175 ~ 7 Lacs+"
101,{'url': 'http://myneta.info/westbengal2016/can...,GHATAL (SC),AITC,101,"Rs 10,50,200 ~ 10 Lacs+"
102,{'url': 'http://myneta.info/westbengal2016/can...,GOALPOKHAR,AITC,102,"Rs 16,97,350 ~ 16 Lacs+"

In [3]:
v = json_normalize([ast.literal_eval(json.dumps(j)) for j in df['Candidate'].dropna()], sep='_')
v.index = df.index[df.pop('Candidate').notna()]
df = df.join(v)

In [4]:
df.head()

,Constituency,Party,Sno,Total Expenses in election,data,url
1,KUMARGRAM (ST),AITC,1,"Rs 6,78,903 ~ 6 Lacs+",JAMES KUJUR,http://myneta.info/westbengal2016/candidate.ph...
10,BADURIA,INC,10,"Rs 14,44,391 ~ 14 Lacs+",QUAZI ABDUR RAHIM,http://myneta.info/westbengal2016/candidate.ph...
100,GAZOLE (SC),CPI(M),100,"Rs 7,98,175 ~ 7 Lacs+",DIPALI BISWAS,http://myneta.info/westbengal2016/candidate.ph...
101,GHATAL (SC),AITC,101,"Rs 10,50,200 ~ 10 Lacs+",SHANKAR DOLAI,http://myneta.info/westbengal2016/candidate.ph...
102,GOALPOKHAR,AITC,102,"Rs 16,97,350 ~ 16 Lacs+",MD GULAM RABBANI,http://myneta.info/westbengal2016/candidate.ph...